<a href="https://colab.research.google.com/github/LKai22/007022/blob/master/Reach_static.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#라이브러리 설치

In [ ]:
!pip install pymysql

In [ ]:
import numpy as np
import pandas as pd
import math
import pymysql
from datetime import datetime
import json
# 최대 줄 수 설정
pd.set_option('display.max_rows', 10000)
# 최대 열 수 설정
pd.set_option('display.max_columns', 10000)
# 표시할 가로의 길이
pd.set_option('display.width', 10000)

#1.라걸 1차 6월 18일 ~ 8월 5일

In [7]:
conn = pymysql.connect(host='prod-dalgo-db.cluster-ro-ce4m6idyzrne.ap-northeast-2.rds.amazonaws.com',
                       user='dalgo_readonly',
                       password='81HiEYRl9MlfRk8Vi9rM',
                       db='dalgo_data',
                       charset='utf8')

In [8]:
cursor = conn.cursor()
sql = "SELECT * FROM dalgo_data.daily_user_pattern where createdAt BETWEEN '2020-06-18' AND '2020-08-06';"
cursor.execute(sql)
result = cursor.fetchall()
df = pd.DataFrame(result, columns=['patternId', 'createdAt', 'updatedAt', 'dataType','drivingDay','dataJson','userId'])
doiscode = pd.read_csv('/content/drive/My Drive/Colab/Data Preprocessing/data/df_emd_new.csv')
doiscode['EMD_CD'] = doiscode['EMD_CD'].astype(str)

In [9]:
campaign_72 = [2,32,47,60,72,86,125,192,263,268,
               269,271,272,273,279,281,296,299,
               300,309,310,314,315,316,323,327,
               333,336,338,339,343,349,352,357,
               364,369,382,386,396,427,440,442,
               444,446,447,456,457,486,492,498,
               502,520,576,606,614,634,635,637,
               639,640,643,653,655,657,659,661,
               663,664,666,668,671,673,674,676,
               681,683,684,692,697,698,700,704,
               717,722,724,725,728,729,731,732,
               734,737,738,751,754,764,765,766,
               769,770,774,775,782,785,789,794,
               796,800,801,804,807,810,814,816,
               820,827,829,830,832,838,839,841,
               846,848,851,857,862,863,864,865,
               867,869,870,871,875,877,881,882,
               886,897,899,902,904,910,912,913,
               923,925,926,929,930,931,932,933,
               935,936,939,943,944,955,957,960,
               962,966,968,978,979,986,987,990,
               992,996,997,998,1008,1013,1018,1021,
               1027,1028,1035,1049,1053,1059,1064,
               1072,1077,1080,1084,1087,1095,1101,
               1103,1108,1109,1121,1124,1135,1142,
               1146,1149,1153,1156,1159,1160,1161,
               1163,1166,1168,1169,1171,1174,1175,
               1177,1178,1186,1190,1191,1194,1203,
               1205,1210,1217,1218,1222,1223,1231,
               1233,1236,1237,1241,1242,1247,1252,
               1254,1266,1268,1282,1285,1286,1292,
               1293,1302,1304,1307,1311,1313,1315,
               1321,1323,1326,1327,1329,1332,1344,
               1346,1351,1358,1365,1367]
               
campaign_72 = sorted(campaign_72)

In [10]:
lat_long_list=[]
reach_list=[]
user_Id = []

for uID in campaign_72:
    data_1 = df.loc[df['userId'] == uID]
    data_2 = data_1['dataJson'].loc[df['dataType'] == 'Reach']
    for key, value in data_2.items():
        dict_values=json.loads(value)
        for key, value in dict_values.items():
            if key != '00000000' and value != 0:
                user_Id.append(uID)
                lat_long_list.append(key)
                reach_list.append(value)
                # print(key, ":", value)

df_r=pd.DataFrame(user_Id, columns=['주행자'])
df_r['행정동코드'] = lat_long_list
df_r['도달'] = reach_list

sd_list = []
skk_list = []
emd_list = []

for i in df_r['행정동코드']:
  for idx, row in doiscode['EMD_CD'].iteritems():
    if i == row[0:8]:
      sd_list.append(doiscode.loc[idx, 'SD_KOR_NM'])
      skk_list.append(doiscode.loc[idx, 'SKK_KOR_NM'])
      emd_list.append(doiscode.loc[idx, 'EMD_KOR_NM'])
      
df_r['시도']=sd_list
df_r['시군구']=skk_list
df_r['읍면동']=emd_list

##1.1 Reach
### 시도, 시군구 별 각각의 도달의 통계량


*   count -> 몇번 주행하였는지 (시군구별 주행자의 주행 합산 회수)
*   max -> 하루 도달의 최고치
*   min -> 하루 도달의 최소치
*   sum -> 시군구별 합
*   mena -> 각가의 시군구별 1일 평균 도달수

In [52]:
g_r1=round(df_r.groupby(['시도','시군구'])['도달'].agg(['count','max','min','sum','std']),0)
g_r1['mean']=round(g_r1['sum'] / 48,0) #48일로 나눔
g_r1.sort_values('mean', ascending=False) # 각각의 시군구별 1일 평균 도달수
# 서울, 부산 상위 5개만 쓰시면 될듯

                   count       max      min        sum      std     mean
시도      시군구
서울특별시   서초구         1467   49083.0      0.0  2500221.0   3957.0  52088.0
        관악구          754   88231.0      3.0  1781733.0   5608.0  37119.0
        강남구         1177   80226.0      0.0  1690277.0   4587.0  35214.0
        영등포구        1823   43316.0      1.0  1564011.0   2823.0  32584.0
        송파구          887   47040.0      5.0  1520279.0   4660.0  31672.0
경기도     화성시         1228   87190.0      0.0  1467919.0   3401.0  30582.0
서울특별시   구로구          901   26311.0      0.0  1420818.0   3199.0  29600.0
        은평구          667   89146.0      7.0  1365653.0   6452.0  28451.0
경기도     용인시 기흥구      997   90133.0      0.0  1295879.0   4444.0  26997.0
        부천시          841   36049.0      0.0  1272585.0   3243.0  26512.0
        광명시          603   89612.0      2.0  1216287.0   6435.0  25339.0
        광주시          723   37178.0      0.0  1177662.0   3754.0  24535.0
서울특별시   노원구          663   19797.0      0.0   989108.0   2609.0  20606.0
경기도     고양시 덕양구      730   72106.0      0.0   972368.0   5160.0  20258.0
서울특별시   중랑구          596   32912.0      1.0   960338.0   3621.0  20007.0
경기도     평택시          467   52886.0      2.0   939697.0   4298.0  19577.0
서울특별시   강서구          643   74151.0      1.0   928213.0   5384.0  19338.0
경기도     의정부시         525   63701.0      0.0   917552.0   5023.0  19116.0
부산광역시   부산진구         679   22240.0      6.0   893701.0   2448.0  18619.0
경기도     성남시 분당구      669   48316.0      1.0   892015.0   3639.0  18584.0
서울특별시   성동구          898   46277.0      0.0   888364.0   3622.0  18508.0
        동작구          877   33436.0      1.0   881221.0   2458.0  18359.0
        양천구          779   23336.0      3.0   859399.0   2636.0  17904.0
        동대문구         823   26567.0      0.0   826083.0   2556.0  17210.0
인천광역시   미추홀구         280   69687.0      6.0   758865.0   5937.0  15810.0
서울특별시   용산구          852   58110.0      0.0   741165.0   3388.0  15441.0
경기도     용인시 수지구      421   35385.0      0.0   722031.0   3991.0  15042.0
        안양시 만안구      330   49329.0      0.0   685709.0   4276.0  14286.0
서울특별시   성북구          767   77013.0      0.0   676614.0   3975.0  14096.0
경기도     남양주시         466   44085.0      0.0   666855.0   3795.0  13893.0
        수원시 장안구      345   25857.0      2.0   661587.0   3117.0  13783.0
        파주시          405   33753.0      0.0   660001.0   3476.0  13750.0
서울특별시   마포구          904   58800.0      0.0   659115.0   3395.0  13732.0
        서대문구         696   22941.0      1.0   650266.0   2638.0  13547.0
        중구           751   86768.0      4.0   649220.0   3936.0  13525.0
        광진구          696   28339.0      1.0   642568.0   2604.0  13387.0
인천광역시   서구           459   22229.0      6.0   626024.0   2959.0  13042.0
서울특별시   강동구          354   28680.0      3.0   618851.0   3446.0  12893.0
경기도     수원시 영통구      576   20806.0      2.0   607289.0   2252.0  12652.0
        고양시 일산동구     438   45498.0      1.0   542547.0   4003.0  11303.0
서울특별시   강북구          243   15474.0     26.0   522361.0   3034.0  10883.0
부산광역시   수영구          236   31868.0      0.0   521391.0   3712.0  10862.0
서울특별시   종로구          876   72487.0      3.0   509888.0   3036.0  10623.0
경기도     수원시 팔달구      343   42170.0      1.0   485188.0   3988.0  10108.0
부산광역시   북구           192   19187.0      1.0   462434.0   3387.0   9634.0
        남구           238  131570.0      1.0   443879.0   9670.0   9247.0
경기도     수원시 권선구      438   24479.0      1.0   428992.0   2678.0   8937.0
인천광역시   중구           171  127011.0     22.0   427997.0  10836.0   8917.0
경기도     성남시 수정구      389   30181.0      1.0   383696.0   2696.0   7994.0
부산광역시   사하구          296   13392.0      3.0   383527.0   2333.0   7990.0
경기도     구리시          387   42070.0      0.0   378544.0   3527.0   7886.0
        고양시 일산서구     274   54581.0      0.0   375623.0   3948.0   7825.0
        안산시 상록구      210   16957.0      0.0   364579.0   3293.0   7595.0
서울특별시   도봉구          279   25101.0      2.0   357639.0   2893.0   7451.0
경기도     시흥시          514   24961.0      0.0   354133.0   2270.0   7378.0
부산광역시   기장군          284   12463.0      2.0   350950.0   2184.0   7311.0
경기도     의왕시          254   25365.0      1.0   349095.0   3199.0   7273.0
부산광역시   동래구          248   30906.0      1.0   344779.0   4006.0   7183.0
        금정구          360   17499.0      1.0   336652.0   2389.0   7014.0
경기도     양주시          221   26355.0      3.0   313913.0   3462.0   6540.0
        하남시          521   20580.0      1.0   304466.0   1681.0   6343.0
인천광역시   남동구          187   34337.0      1.0   302942.0   4162.0   6311.0
경기도     김포시          286   14131.0      1.0   302466.0   2226.0   6301.0
        안양시 동안구      409   37934.0      1.0   292146.0   2710.0   6086.0
인천광역시   연수구          126   31493.0      1.0   288916.0   5175.0   6019.0
충청남도    아산시           93   31952.0      2.0   283949.0   6972.0   5916.0
경상남도    김해시          299   11772.0      0.0   262149.0   1842.0   5461.0
대구광역시   달서구           91   22754.0     24.0   258650.0   5151.0   5389.0
경기도     용인시 처인구      294   27762.0      1.0   253477.0   2847.0   5281.0
부산광역시   해운대구         194   32379.0      4.0   249578.0   3475.0   5200.0
경기도     군포시          170   27932.0      4.0   249190.0   3498.0   5191.0
울산광역시   울주군           62   51363.0      4.0   244535.0   7404.0   5094.0
경기도     포천시          137   21948.0      1.0   237769.0   3362.0   4954.0
        과천시          297   70226.0      0.0   237007.0   4475.0   4938.0
부산광역시   강서구          278   16389.0      0.0   204605.0   1781.0   4263.0
        연제구          197   22076.0      9.0   197390.0   2623.0   4112.0
서울특별시   금천구          504   38714.0      0.0   196449.0   2118.0   4093.0
인천광역시   계양구          236   33621.0      1.0   184282.0   3064.0   3839.0
경상남도    밀양시           29   43494.0     26.0   182119.0  10252.0   3794.0
강원도     원주시          131   15694.0      0.0   180966.0   2598.0   3770.0
대전광역시   서구            23   91469.0     20.0   178230.0  19400.0   3713.0
경기도     가평군          101   16064.0      0.0   177523.0   3010.0   3698.0
인천광역시   부평구          201    9786.0      1.0   174199.0   1609.0   3629.0
부산광역시   영도구          115   11866.0      2.0   162376.0   2624.0   3383.0
경상북도    구미시           81   15508.0      0.0   160695.0   3188.0   3348.0
        경주시          164   10951.0      1.0   157875.0   2055.0   3289.0
강원도     춘천시          148   41551.0      0.0   150131.0   3815.0   3128.0
경상남도    양산시          119   17318.0      1.0   148831.0   2811.0   3101.0
경기도     성남시 중원구      343   11689.0      0.0   147347.0   1391.0   3070.0
대구광역시   동구            93    5970.0      6.0   141935.0   2092.0   2957.0
부산광역시   중구           206   23770.0      1.0   139457.0   2467.0   2905.0
대구광역시   북구            86   11511.0      8.0   137235.0   2304.0   2859.0
부산광역시   동구           163   17306.0      3.0   130349.0   2155.0   2716.0
강원도     영월군           26   24342.0     19.0   129391.0   6887.0   2696.0
제주특별자치도 제주시           71   27656.0      0.0   129315.0   4483.0   2694.0
경기도     오산시          205   24354.0      0.0   127887.0   2262.0   2664.0
충청남도    공주시           78   10697.0      2.0   127710.0   2281.0   2661.0
부산광역시   사상구          232   13162.0      0.0   125005.0   1408.0   2604.0
경상남도    창원시 성산구       50   15620.0      5.0   124362.0   3985.0   2591.0
강원도     횡성군           40   20471.0     17.0   119766.0   4500.0   2495.0
광주광역시   동구            33    8514.0     31.0   115233.0   2666.0   2401.0
대전광역시   유성구           74    7590.0      2.0   111762.0   2036.0   2328.0
경상남도    창원시 의창구       31   27593.0     21.0   110119.0   7008.0   2294.0
부산광역시   서구           168   16325.0      1.0    99388.0   1726.0   2071.0
강원도     평창군           29   17556.0      4.0    98786.0   4273.0   2058.0
경기도     이천시          174    8772.0      5.0    89200.0   1179.0   1858.0
광주광역시   북구           106    6706.0      4.0    71120.0   1363.0   1482.0
경상남도    고성군           11   63789.0      3.0    64608.0  19208.0   1346.0
울산광역시   남구            66   21505.0      4.0    63797.0   3070.0   1329.0
경기도     안산시 단원구      138    9730.0      1.0    56351.0   1248.0   1174.0
강원도     강릉시           73   17887.0      8.0    56096.0   2353.0   1169.0
충청남도    천안시 서북구       47   27868.0      1.0    52298.0   4279.0   1090.0
제주특별자치도 서귀포시          41   11816.0      3.0    51548.0   2763.0   1074.0
경기도     안성시           85   17084.0      0.0    49560.0   2061.0   1032.0
강원도     양양군           22   18477.0     16.0    49005.0   4563.0   1021.0
경상남도    창원시 진해구       37   18408.0      6.0    46220.0   3099.0    963.0
        진주시           11   26146.0     35.0    45982.0   8194.0    958.0
        거제시            7   36703.0      4.0    39360.0  13718.0    820.0
        통영시           21    7509.0     17.0    34113.0   2364.0    711.0
충청남도    천안시 동남구       25    9259.0      1.0    34045.0   2684.0    709.0
강원도     고성군           15    5933.0     12.0    33729.0   2210.0    703.0
충청남도    태안군           14   14502.0     22.0    33585.0   4020.0    700.0
전라북도    남원시           15   12584.0     24.0    31535.0   4200.0    657.0
경기도     연천군            7   22295.0     13.0    30986.0   8327.0    646.0
인천광역시   강화군           20   14628.0      2.0    30452.0   3513.0    634.0
대전광역시   중구            10   13754.0      8.0    29723.0   4522.0    619.0
경기도     양평군           56    6628.0      3.0    22558.0   1075.0    470.0
전라북도    정읍시            1   20656.0  20656.0    20656.0      NaN    430.0
        완주군            2   20483.0     24.0    20507.0  14467.0    427.0
세종특별자치시 세종특별자치시       24   10316.0      0.0    18812.0   2122.0    392.0
강원도     철원군            7    5537.0     53.0    17929.0   2125.0    374.0
광주광역시   서구             8    9324.0     30.0    17755.0   3091.0    370.0
경상남도    창원시 마산합포구     15   14181.0      7.0    17721.0   3631.0    369.0
충청남도    당진시           30    6379.0      3.0    17447.0   1283.0    363.0
강원도     홍천군           25    6054.0      5.0    17187.0   1327.0    358.0
충청남도    서산시           22    4681.0     13.0    16590.0   1190.0    346.0
경상북도    영덕군           14    7800.0      5.0    15664.0   2246.0    326.0
충청북도    청주시 서원구        1   14979.0  14979.0    14979.0      NaN    312.0
강원도     속초시           29    9142.0     10.0    14829.0   1689.0    309.0
경기도     여주시           35    2449.0     11.0    14655.0    550.0    305.0
대구광역시   수성구           35    4724.0     10.0    14529.0   1165.0    303.0
경상북도    칠곡군           40    3948.0      0.0    12713.0    996.0    265.0
충청북도    음성군            6   11879.0     20.0    12115.0   4830.0    252.0
인천광역시   동구            46    1948.0     10.0    11247.0    463.0    234.0
충청북도    보은군            2    7098.0   4082.0    11180.0   2133.0    233.0
충청남도    예산군            4    9448.0     39.0    10819.0   4534.0    225.0
대구광역시   중구            16    9070.0     28.0    10491.0   2248.0    219.0
강원도     인제군           12    3994.0      2.0     9834.0   1193.0    205.0
충청북도    청주시 흥덕구        7    9064.0      2.0     9635.0   3392.0    201.0
강원도     동해시            9    7177.0      4.0     9536.0   2339.0    199.0
충청북도    단양군            6    5834.0     65.0     8659.0   2200.0    180.0
        충주시            9    6686.0      1.0     8211.0   2207.0    171.0
경상북도    울진군            8    6402.0     20.0     7851.0   2218.0    164.0
        포항시 북구        27    3502.0      1.0     7828.0    720.0    163.0
        문경시           10    6045.0     14.0     7448.0   1867.0    155.0
전라남도    나주시            1    7381.0   7381.0     7381.0      NaN    154.0
충청남도    부여군            9    3900.0     11.0     7179.0   1223.0    150.0
전라남도    목포시            7    5741.0     28.0     7148.0   2103.0    149.0
경상남도    남해군            2    6306.0    501.0     6806.0   4105.0    142.0
전라남도    영광군            1    6817.0   6817.0     6817.0      NaN    142.0
울산광역시   중구            14    5402.0     30.0     5940.0   1433.0    124.0
충청북도    진천군            5    4479.0     38.0     5821.0   1913.0    121.0
경상남도    창녕군            4    5527.0     33.0     5681.0   2738.0    118.0
충청남도    홍성군            5    5376.0      0.0     5422.0   2399.0    113.0
경상북도    김천시            7    2861.0      8.0     5395.0    980.0    112.0
울산광역시   북구            28    1479.0      8.0     5139.0    387.0    107.0
인천광역시   옹진군            3    2709.0    201.0     4953.0   1299.0    103.0
대구광역시   달성군           27    3403.0      0.0     4935.0    645.0    103.0
충청북도    제천시           21    3533.0      1.0     4745.0    762.0     99.0
대전광역시   동구            17    1884.0     12.0     4666.0    598.0     97.0
경상남도    사천시            2    3472.0   1128.0     4600.0   1658.0     96.0
전라남도    보성군            1    4544.0   4544.0     4544.0      NaN     95.0
경상북도    영천시            6    3264.0      5.0     3480.0   1315.0     72.0
        경산시           12    1136.0     25.0     3367.0    439.0     70.0
        영주시            5    2964.0     22.0     3120.0   1308.0     65.0
전라남도    해남군            2    2321.0    211.0     2532.0   1492.0     53.0
        담양군            4    2183.0     23.0     2270.0   1077.0     47.0
강원도     삼척시            5    1699.0     35.0     2258.0    716.0     47.0
경상남도    산청군            8    1769.0      3.0     2015.0    614.0     42.0
        하동군            6     950.0     19.0     1952.0    358.0     41.0
충청남도    보령시            6    1537.0      7.0     1928.0    604.0     40.0
        서천군            4    1137.0     83.0     1787.0    488.0     37.0
전라남도    영암군            2    1251.0     64.0     1314.0    839.0     27.0
강원도     화천군            5     524.0      4.0     1260.0    216.0     26.0
전라남도    여수시            6     458.0     32.0     1224.0    200.0     26.0
강원도     태백시            4     774.0      2.0     1170.0    348.0     24.0
경상남도    창원시 마산회원구     11     694.0      1.0     1144.0    203.0     24.0
경상북도    청도군            1    1120.0   1120.0     1120.0      NaN     23.0
충청북도    괴산군            2    1089.0     23.0     1112.0    753.0     23.0
경상북도    군위군            5     408.0     28.0     1121.0    167.0     23.0
        안동시           10     459.0     20.0     1052.0    140.0     22.0
충청북도    청주시 청원구        6     585.0      8.0      972.0    219.0     20.0
경상북도    포항시 남구         8     316.0     20.0      882.0    105.0     18.0
경기도     동두천시           5     359.0     22.0      466.0    149.0     10.0
광주광역시   광산구            3     205.0     27.0      315.0     91.0      7.0
충청남도    논산시            2     236.0     32.0      268.0    144.0      6.0
전라북도    전주시 덕진구        5     163.0     22.0      265.0     61.0      6.0
울산광역시   동구             3     194.0      6.0      231.0    102.0      5.0
경상남도    함양군            3     178.0     35.0      249.0     83.0      5.0
대전광역시   대덕구            5      88.0     12.0      195.0     30.0      4.0
대구광역시   서구             4     134.0     21.0      214.0     54.0      4.0
경상남도    함안군            3      64.0     33.0      133.0     17.0      3.0
        의령군            1     163.0    163.0      163.0      NaN      3.0
경상북도    상주시            2      38.0     35.0       73.0      2.0      2.0
충청북도    옥천군            1      35.0     35.0       35.0      NaN      1.0
대구광역시   남구             1      30.0     30.0       30.0      NaN      1.0
광주광역시   남구             2      32.0     30.0       62.0      1.0      1.0
충청남도    청양군            2      28.0      6.0       34.0     15.0      1.0
경상북도    의성군            1      44.0     44.0       44.0      NaN      1.0
전라남도    순천시            2      43.0     17.0       60.0     18.0      1.0
강원도     양구군            2      36.0     20.0       56.0     11.0      1.0
전라북도    무주군            1      32.0     32.0       32.0      NaN      1.0
전라남도    함평군            1      31.0     31.0       31.0      NaN      1.0
전라북도    군산시            1      32.0     32.0       32.0      NaN      1.0
충청북도    영동군            2      16.0      8.0       24.0      6.0      0.0

In [35]:
g_r2=round(df_r.groupby('시도')['도달'].agg(['sum']),0)
g_r2.sort_values('sum', ascending=False)

                sum
시도
서울특별시    24399857.0
경기도      20724797.0
부산광역시     5045460.0
인천광역시     2809878.0
경상남도      1098330.0
강원도        891928.0
충청남도       593059.0
대구광역시      568019.0
경상북도       389727.0
대전광역시      324576.0
울산광역시      319642.0
광주광역시      204485.0
제주특별자치도    180862.0
충청북도        77488.0
전라북도        73026.0
전라남도        33321.0
세종특별자치시     18812.0

##1.2 Exposure
### 시도, 시군구 별 각각의 도달의 통계량


*   count -> 몇번 주행하였는지 (시군구별 주행자의 주행 합산 회수)
*   max -> 하루 노출의 최고치
*   min -> 하루 노출의 최소치
*   sum -> 시군구별 합
*   mena -> 각가의 시군구별 1일 평균 도달수

In [36]:
exposure_lat_long_list=[]
exposure_list=[]
exposure_user_Id = []


for uID in campaign_72:
    data_1 = df.loc[df['userId'] == uID]
    data_2 = data_1['dataJson'].loc[df['dataType'] == 'Exposure']
    for key, value in data_2.items():
        dict_values=json.loads(value)
        for key, value in dict_values.items():
            if key != '00000000' and value != 0:
                exposure_user_Id.append(uID)
                exposure_lat_long_list.append(key)
                exposure_list.append(value)
                # print(key, ":", value)

df_e=pd.DataFrame(exposure_user_Id, columns=['주행자'])
df_e['행정동코드'] = exposure_lat_long_list
df_e['노출'] = exposure_list

ex_sd_list = []
ex_skk_list = []
ex_emd_list = []

for i in df_e['행정동코드']:
  for idx, row in doiscode['EMD_CD'].iteritems():
    if i == row[0:8]:
      ex_sd_list.append(doiscode.loc[idx, 'SD_KOR_NM'])
      ex_skk_list.append(doiscode.loc[idx, 'SKK_KOR_NM'])
      ex_emd_list.append(doiscode.loc[idx, 'EMD_KOR_NM'])

df_e['시도']=ex_sd_list
df_e['시군구']=ex_skk_list
df_e['읍면동']=ex_emd_list

In [44]:
g_e1=round(df_e.groupby(['시도','시군구'])['노출'].agg(['count','max','min','sum','std']),0)
g_e1['mean']=round(g_e1['sum'] / 48,0) #48일로 나눔
g_e1.sort_values('mean', ascending=False) # 각각의 시군구별 1일 평균 도달수
# 서울, 부산 상위 5개만 쓰시면 될듯

                   count       max      min        sum      std      mean
시도      시군구
서울특별시   서초구         1468   49083.0      0.0  5382092.0   7077.0  112127.0
        관악구          755   88363.0      7.0  3840765.0   8514.0   80016.0
경기도     화성시         1257   87190.0      0.0  3483833.0   5728.0   72580.0
서울특별시   구로구          902   32752.0      0.0  3275512.0   6378.0   68240.0
        강남구         1178   80230.0      0.0  3160403.0   6024.0   65842.0
경기도     부천시          841   41531.0      0.0  2983899.0   6369.0   62165.0
서울특별시   영등포구        1824   45673.0      1.0  2981520.0   4130.0   62115.0
        송파구          887   47040.0      5.0  2970108.0   6608.0   61877.0
        노원구          663   29268.0      0.0  2683091.0   6350.0   55898.0
경기도     용인시 기흥구     1002   91792.0      0.0  2670543.0   6810.0   55636.0
서울특별시   은평구          669   89241.0      7.0  2637466.0   8410.0   54947.0
경기도     광주시          739   37981.0      1.0  2571281.0   6885.0   53568.0
        광명시          603   89612.0      2.0  2483938.0   8401.0   51749.0
부산광역시   부산진구         679   32692.0      6.0  2201950.0   5478.0   45874.0
서울특별시   양천구          780   35264.0      3.0  2090728.0   5279.0   43557.0
경기도     평택시          468   54474.0      2.0  2069747.0   7015.0   43120.0
서울특별시   동대문구         824   40201.0      0.0  2015595.0   5966.0   41992.0
        중랑구          599   37488.0      1.0  1978721.0   6168.0   41223.0
경기도     의정부시         529   63701.0      0.0  1834571.0   6677.0   38220.0
        성남시 분당구      671   59025.0      1.0  1800624.0   5785.0   37513.0
서울특별시   동작구          877   33436.0      1.0  1740468.0   4359.0   36260.0
경기도     수원시 영통구      576   28460.0      2.0  1725183.0   5938.0   35941.0
서울특별시   용산구          853   68963.0      0.0  1645821.0   5389.0   34288.0
경기도     안양시 만안구      330   54791.0      0.0  1630485.0   7333.0   33968.0
        파주시          420   34255.0      1.0  1626486.0   7071.0   33885.0
인천광역시   미추홀구         280   72971.0      6.0  1622873.0   8629.0   33810.0
서울특별시   성북구          768  256572.0      0.0  1606824.0  10429.0   33476.0
경기도     남양주시         491   51962.0      0.0  1603829.0   6675.0   33413.0
인천광역시   서구           459   40138.0      6.0  1581844.0   6450.0   32955.0
서울특별시   성동구          898   50346.0      0.0  1567178.0   4906.0   32650.0
경기도     수원시 장안구      345   34837.0      2.0  1559842.0   7526.0   32497.0
        고양시 덕양구      743   72395.0      0.0  1529482.0   6409.0   31864.0
서울특별시   강북구          243   28643.0     26.0  1524446.0   8600.0   31759.0
        강서구          643   76266.0      1.0  1509940.0   6291.0   31457.0
경기도     용인시 수지구      422   35473.0      0.0  1476683.0   6266.0   30764.0
서울특별시   광진구          696   34470.0      1.0  1433014.0   4651.0   29854.0
        강동구          354   29284.0      3.0  1322573.0   6354.0   27554.0
        서대문구         696   31884.0      3.0  1321429.0   4732.0   27530.0
부산광역시   북구           193   32947.0      1.0  1169735.0   7919.0   24369.0
        수영구          236   31868.0      0.0  1148292.0   7169.0   23923.0
서울특별시   마포구          905   58800.0      0.0  1096981.0   4175.0   22854.0
경기도     수원시 권선구      439   34804.0      1.0  1055814.0   5453.0   21996.0
부산광역시   기장군          291   27375.0      1.0  1032141.0   5738.0   21503.0
경기도     고양시 일산서구     278   55054.0      0.0  1004673.0   6482.0   20931.0
        고양시 일산동구     445   45833.0      3.0   999677.0   5233.0   20827.0
서울특별시   중구           751   86853.0      4.0   996724.0   4532.0   20765.0
        종로구          876   76799.0      3.0   986877.0   3904.0   20560.0
경기도     성남시 수정구      389   36867.0      1.0   980173.0   5409.0   20420.0
        김포시          289   28965.0      1.0   908571.0   6340.0   18929.0
부산광역시   사하구          297   20266.0      3.0   891123.0   5094.0   18565.0
경기도     시흥시          519   32856.0      0.0   886073.0   4545.0   18460.0
        구리시          393   42070.0      0.0   837586.0   5583.0   17450.0
        수원시 팔달구      343   47449.0      7.0   798840.0   4989.0   16642.0
서울특별시   도봉구          279   35037.0      2.0   797940.0   5321.0   16624.0
경기도     하남시          524   27106.0      1.0   720932.0   3426.0   15019.0
        의왕시          255   26891.0      1.0   716901.0   5604.0   14935.0
부산광역시   금정구          364   33958.0      1.0   688143.0   3888.0   14336.0
인천광역시   중구           172  127011.0     27.0   688015.0  11805.0   14334.0
부산광역시   남구           238  131570.0      1.0   672718.0  10045.0   14015.0
경기도     안산시 상록구      210   28894.0      0.0   661297.0   5665.0   13777.0
부산광역시   동래구          248   32685.0      1.0   642938.0   6262.0   13395.0
        해운대구         194   32889.0      4.0   636160.0   6127.0   13253.0
경기도     안양시 동안구      409   37934.0      1.0   611079.0   3242.0   12731.0
경상남도    김해시          299   23719.0      0.0   610308.0   4445.0   12715.0
경기도     군포시          171   27932.0      4.0   606822.0   6318.0   12642.0
        양주시          221   30495.0      5.0   593828.0   5712.0   12371.0
        용인시 처인구      301   27762.0      1.0   533890.0   3583.0   11123.0
인천광역시   부평구          201   28827.0      1.0   519872.0   4869.0   10831.0
경기도     포천시          140   22261.0      1.0   515691.0   5667.0   10744.0
부산광역시   영도구          115   30401.0      2.0   502141.0   8135.0   10461.0
울산광역시   울주군           64   54815.0      4.0   488368.0   8911.0   10174.0
대구광역시   동구            93   19940.0      6.0   461872.0   6875.0    9622.0
경기도     가평군          108   23538.0      0.0   457507.0   5822.0    9531.0
강원도     원주시          135   26294.0      0.0   448753.0   5699.0    9349.0
인천광역시   연수구          126   32593.0      1.0   439114.0   6339.0    9148.0
경기도     과천시          305   71800.0      1.0   437938.0   5182.0    9124.0
충청남도    아산시           99   31952.0      3.0   427311.0   7973.0    8902.0
인천광역시   남동구          191   34689.0      1.0   424277.0   4891.0    8839.0
대구광역시   북구            86   16589.0      8.0   399165.0   6074.0    8316.0
광주광역시   동구            33   28460.0     31.0   399024.0   9409.0    8313.0
부산광역시   강서구          280   26872.0      0.0   391214.0   3296.0    8150.0
대구광역시   달서구           91   32269.0     24.0   390760.0   7239.0    8141.0
부산광역시   연제구          198   22697.0      9.0   387704.0   3682.0    8077.0
경상남도    밀양시           29   51924.0     26.0   383837.0  15008.0    7997.0
경상북도    경주시          169   21659.0      1.0   381871.0   4702.0    7956.0
강원도     춘천시          153   41551.0      0.0   380758.0   5879.0    7932.0
서울특별시   금천구          505   43324.0      0.0   379985.0   2866.0    7916.0
인천광역시   계양구          237   33621.0      1.0   377612.0   4597.0    7867.0
충청남도    공주시           84   26950.0      7.0   377059.0   6400.0    7855.0
경기도     성남시 중원구      343   27159.0      0.0   376772.0   3186.0    7849.0
경상남도    양산시          120   19407.0      1.0   347541.0   4915.0    7240.0
부산광역시   사상구          232   24368.0      2.0   329885.0   3554.0    6873.0
대전광역시   유성구           74   16809.0      2.0   322800.0   5984.0    6725.0
경상북도    구미시           82   28638.0      0.0   322311.0   6310.0    6715.0
강원도     평창군           30   30076.0      4.0   303991.0  11419.0    6333.0
제주특별자치도 제주시           71   30956.0      0.0   293569.0   7950.0    6116.0
강원도     횡성군           42   23722.0     24.0   279339.0   7373.0    5820.0
경기도     이천시          177   15998.0      5.0   258269.0   3244.0    5381.0
부산광역시   동구           163   21086.0     20.0   257049.0   3694.0    5355.0
        서구           168   18566.0      1.0   250908.0   3751.0    5227.0
        중구           207   27960.0      1.0   223727.0   3895.0    4661.0
경기도     오산시          206   25019.0      1.0   209108.0   2979.0    4356.0
광주광역시   북구           106   14488.0      4.0   199723.0   3676.0    4161.0
대전광역시   서구            23   91469.0     20.0   195921.0  19199.0    4082.0
강원도     영월군           28   26503.0     19.0   184531.0   7890.0    3844.0
경상남도    창원시 성산구       51   15942.0      5.0   174308.0   5008.0    3631.0
강원도     강릉시           74   29683.0      8.0   140708.0   4799.0    2931.0
경상남도    창원시 의창구       31   27593.0     24.0   138610.0   7171.0    2888.0
경기도     안산시 단원구      138   19215.0      1.0   136933.0   2400.0    2853.0
울산광역시   남구            66   21505.0      4.0   109633.0   3712.0    2284.0
경기도     안성시           89   18760.0      0.0   102510.0   3158.0    2136.0
제주특별자치도 서귀포시          41   17627.0      3.0    96636.0   4081.0    2013.0
강원도     양양군           22   26147.0     16.0    92845.0   6985.0    1934.0
        고성군           15   20145.0    297.0    91298.0   6254.0    1902.0
충청남도    천안시 서북구       47   27868.0      1.0    88004.0   5169.0    1833.0
경기도     양평군           86    7751.0      9.0    74293.0   1278.0    1548.0
경상남도    고성군           11   63930.0      3.0    68371.0  19145.0    1424.0
        창원시 진해구       37   18760.0      6.0    67493.0   3327.0    1406.0
충청남도    서산시           24   17662.0     30.0    65504.0   4416.0    1365.0
        천안시 동남구       25   23206.0      1.0    62360.0   5075.0    1299.0
경상남도    진주시           11   28603.0     35.0    56951.0   8916.0    1186.0
강원도     홍천군           27   19084.0     12.0    55445.0   4078.0    1155.0
경기도     연천군            7   26017.0     13.0    55044.0  11616.0    1147.0
충청남도    당진시           39    8611.0     14.0    54567.0   2222.0    1137.0
경상북도    영덕군           14   27046.0     12.0    54062.0   7718.0    1126.0
충청남도    태안군           14   14502.0    276.0    51631.0   4047.0    1076.0
강원도     인제군           15   13710.0      5.0    50278.0   3791.0    1047.0
경상북도    칠곡군           55   13785.0      4.0    49817.0   2429.0    1038.0
경기도     여주시           35    8446.0     14.0    49642.0   1867.0    1034.0
전라북도    남원시           15   17961.0     24.0    49409.0   5823.0    1029.0
인천광역시   강화군           21   14628.0     17.0    49365.0   3513.0    1028.0
경상남도    거제시           10   36703.0     23.0    46274.0  11366.0     964.0
        통영시           21   12115.0     17.0    45748.0   3404.0     953.0
대구광역시   수성구           35   14238.0     10.0    44223.0   3612.0     921.0
강원도     철원군            7   18758.0    399.0    43961.0   6797.0     916.0
대전광역시   중구            10   13754.0      8.0    39361.0   5215.0     820.0
강원도     속초시           29   21755.0     10.0    36956.0   4022.0     770.0
충청북도    단양군            6   19488.0    141.0    29636.0   7291.0     617.0
강원도     동해시            9   24038.0      4.0    27842.0   7890.0     580.0
세종특별자치시 세종특별자치시       24   10316.0      6.0    27412.0   2295.0     571.0
경상북도    울진군           10   21305.0     20.0    27378.0   6607.0     570.0
        문경시           10   20172.0     14.0    27091.0   6154.0     564.0
인천광역시   동구            46    5807.0     10.0    26718.0   1064.0     557.0
경상남도    창원시 마산합포구     17   14181.0     29.0    26676.0   3598.0     556.0
경상북도    포항시 북구        27   11713.0      1.0    25577.0   2283.0     533.0
충청남도    부여군           10   13024.0     11.0    25571.0   3915.0     533.0
전라북도    정읍시            1   24354.0  24354.0    24354.0      NaN     507.0
대구광역시   달성군           30   11645.0     19.0    23659.0   2066.0     493.0
전라남도    목포시            7   19143.0     28.0    23424.0   7037.0     488.0
경상남도    남해군            2   21181.0   1610.0    22791.0  13839.0     475.0
전라북도    완주군            2   21909.0     24.0    21933.0  15475.0     457.0
광주광역시   서구             8    9324.0     30.0    20279.0   3073.0     422.0
전라남도    영광군            1   20115.0  20115.0    20115.0      NaN     419.0
경상남도    창녕군            4   18726.0    142.0    19467.0   9240.0     406.0
경상북도    김천시            7    9654.0    109.0    18181.0   3279.0     379.0
충청북도    제천시           23   11723.0      6.0    16349.0   2416.0     341.0
        청주시 서원구        1   14979.0  14979.0    14979.0      NaN     312.0
울산광역시   북구            28    4772.0      8.0    13872.0   1106.0     289.0
인천광역시   옹진군            3    9886.0    980.0    13611.0   4716.0     284.0
충청북도    음성군            7   11879.0     20.0    13443.0   4401.0     280.0
대구광역시   중구            16    9070.0     28.0    12577.0   2254.0     262.0
충청북도    청주시 흥덕구        9    9342.0      8.0    12291.0   3011.0     256.0
        충주시           13    6686.0      1.0    12031.0   2001.0     251.0
경상북도    경산시           12    3769.0     25.0    11514.0   1443.0     240.0
충청남도    예산군            4    9448.0     39.0    11412.0   4427.0     238.0
경상북도    영주시            6   10304.0     27.0    11382.0   4123.0     237.0
충청북도    보은군            2    7098.0   4082.0    11180.0   2133.0     233.0
경상남도    산청군            8    7804.0      3.0    10746.0   2621.0     224.0
충청북도    진천군            6    5043.0     38.0    10213.0   2183.0     213.0
전라남도    해남군            2    8878.0    889.0     9767.0   5649.0     203.0
경상남도    하동군            6    3869.0    314.0     8808.0   1309.0     184.0
대전광역시   동구            20    1884.0     20.0     7762.0    596.0     162.0
충청남도    서천군            5    4750.0    306.0     7732.0   1861.0     161.0
전라남도    나주시            1    7381.0   7381.0     7381.0      NaN     154.0
강원도     화천군            5    2712.0      4.0     6947.0   1032.0     145.0
충청남도    홍성군            6    5715.0      7.0     6717.0   2256.0     140.0
울산광역시   중구            14    5402.0     30.0     6333.0   1427.0     132.0
경상북도    영천시            6    3264.0     34.0     6275.0   1234.0     131.0
충청남도    보령시            6    5190.0      7.0     5855.0   2070.0     122.0
전라남도    영암군            3    4191.0    614.0     5456.0   2055.0     114.0
충청북도    괴산군            4    4437.0     23.0     5076.0   2116.0     106.0
경상남도    사천시            2    3472.0   1128.0     4600.0   1658.0      96.0
전라남도    보성군            1    4625.0   4625.0     4625.0      NaN      96.0
강원도     태백시            4    2862.0      2.0     4467.0   1249.0      93.0
        삼척시            6    2564.0     35.0     4448.0   1021.0      93.0
경상북도    안동시           10    1555.0     20.0     4338.0    549.0      90.0
        청도군            1    4291.0   4291.0     4291.0      NaN      89.0
전라남도    여수시            6    1606.0     32.0     4237.0    695.0      88.0
경상남도    창원시 마산회원구     11    2332.0      1.0     3664.0    711.0      76.0
경상북도    군위군            5    1285.0     28.0     3594.0    554.0      75.0
        포항시 남구        10    1249.0     20.0     3460.0    373.0      72.0
충청북도    청주시 청원구        6    1922.0      8.0     3037.0    730.0      63.0
전라남도    담양군            4    2625.0     23.0     2948.0   1264.0      61.0
경기도     동두천시           5    1124.0     22.0     1231.0    491.0      26.0
충청남도    청양군            2     683.0    289.0      972.0    279.0      20.0
광주광역시   광산구            3     611.0     27.0      973.0    292.0      20.0
강원도     양구군            2     545.0    250.0      796.0    209.0      17.0
충청남도    논산시            2     765.0     32.0      797.0    518.0      17.0
경상남도    함양군            3     612.0     35.0      836.0    298.0      17.0
대전광역시   대덕구            5     387.0     12.0      687.0    167.0      14.0
울산광역시   동구             3     585.0      6.0      622.0    327.0      13.0
경상남도    의령군            1     638.0    638.0      638.0      NaN      13.0
전라북도    전주시 덕진구        5     517.0     22.0      619.0    220.0      13.0
경상북도    의성군            1     483.0    483.0      483.0      NaN      10.0
대구광역시   서구             4     377.0     21.0      457.0    175.0      10.0
경상남도    함안군            3     214.0     36.0      362.0     90.0       8.0
        합천군            1     317.0    317.0      317.0      NaN       7.0
전라남도    순천시            2     327.0     17.0      344.0    219.0       7.0
경상북도    봉화군            1     297.0    297.0      297.0      NaN       6.0
        상주시            2      38.0     35.0       73.0      2.0       2.0
전라북도    무주군            1     106.0    106.0      106.0      NaN       2.0
전라남도    함평군            1     103.0    103.0      103.0      NaN       2.0
광주광역시   남구             2      32.0     30.0       62.0      1.0       1.0
충청북도    영동군            2      16.0     15.0       31.0      1.0       1.0
        옥천군            1      35.0     35.0       35.0      NaN       1.0
대구광역시   남구             1      30.0     30.0       30.0      NaN       1.0
전라북도    군산시            1      32.0     32.0       32.0      NaN       1.0

In [47]:
g_e2=round(df_e.groupby('시도')['노출'].agg(['sum']),0)
g_e2.sort_values('sum', ascending=False)

                sum
시도
서울특별시    50946197.0
경기도      45641518.0
부산광역시    11425827.0
인천광역시     5743301.0
강원도       2153362.0
경상남도      2038346.0
대구광역시     1332744.0
충청남도      1185492.0
경상북도       951994.0
광주광역시      620060.0
울산광역시      618829.0
대전광역시      566531.0
제주특별자치도    390204.0
충청북도       128301.0
전라북도        96452.0
전라남도        78401.0
세종특별자치시     27412.0

#2.라걸 2차 7월 27일 ~ 8월 22일

In [48]:
cursor = conn.cursor()
sql = "SELECT * FROM dalgo_data.daily_user_pattern where createdAt BETWEEN '2020-07-27' AND '2020-08-24';"
cursor.execute(sql)
result = cursor.fetchall()
df2 = pd.DataFrame(result, columns=['patternId', 'createdAt', 'updatedAt', 'dataType','drivingDay','dataJson','userId'])
doiscode2 = pd.read_csv('/content/drive/My Drive/Colab/Data Preprocessing/data/df_emd_new.csv')
doiscode2['EMD_CD'] = doiscode2['EMD_CD'].astype(str)

In [54]:
campaign_101 = [2197, 635, 1159, 1149, 2115,
                296, 234, 2388, 2400,2423,2433,
                2438,2501,2519,2526,2464,2560,
                2616,2617,2471,2654,2660,2666,
                2545,2681,2427,2619,2553,2707,
                2705,2521,785,2516,1327,2454,1304,
                2734,276,1236,1190,2739,2740,2741,
                2747,1483,992,1498,1459,585,1699,
                2753,343,882,1166
]
campaign_101 = sorted(campaign_101)

In [55]:
lat_long_list=[]
reach_list=[]
user_Id = []

for uID in campaign_101:
    data_1 = df2.loc[df2['userId'] == uID]
    data_2 = data_1['dataJson'].loc[df2['dataType'] == 'Reach']
    for key, value in data_2.items():
        dict_values=json.loads(value)
        for key, value in dict_values.items():
            if key != '00000000' and value != 0:
                user_Id.append(uID)
                lat_long_list.append(key)
                reach_list.append(value)
                # print(key, ":", value)

df_r=pd.DataFrame(user_Id, columns=['주행자'])
df_r['행정동코드'] = lat_long_list
df_r['도달'] = reach_list

sd_list = []
skk_list = []
emd_list = []

for i in df_r['행정동코드']:
  for idx, row in doiscode['EMD_CD'].iteritems():
    if i == row[0:8]:
      sd_list.append(doiscode.loc[idx, 'SD_KOR_NM'])
      skk_list.append(doiscode.loc[idx, 'SKK_KOR_NM'])
      emd_list.append(doiscode.loc[idx, 'EMD_KOR_NM'])
      
df_r['시도']=sd_list
df_r['시군구']=skk_list
df_r['읍면동']=emd_list

##2.1 Reach
### 시도, 시군구 별 각각의 도달의 통계량


*   count -> 몇번 주행하였는지 (시군구별 주행자의 주행 합산 회수)
*   max -> 하루 도달의 최고치
*   min -> 하루 도달의 최소치
*   sum -> 시군구별 합
*   mena -> 각가의 시군구별 1일 평균 도달수

In [57]:
g_r1=round(df_r.groupby(['시도','시군구'])['도달'].agg(['count','max','min','sum','std']),0)
g_r1['mean']=round(g_r1['sum'] / 28,0) #48일로 나눔
g_r1.sort_values('mean', ascending=False) # 각각의 시군구별 1일 평균 도달수
# 서울, 부산 상위 5개만 쓰시면 될듯

                  count      max     min       sum     std     mean
시도      시군구
경기도     파주시         246  62104.0     0.0  324303.0  4312.0  11582.0
        안산시 단원구     106  30093.0    17.0  303475.0  3878.0  10838.0
        화성시         135  84010.0    14.0  292966.0  7492.0  10463.0
인천광역시   부평구          90  76185.0    20.0  290976.0  8940.0  10392.0
경기도     김포시         123  20471.0     3.0  282594.0  3742.0  10093.0
        안성시         141  13579.0     0.0  278808.0  2712.0   9957.0
충청남도    아산시         111  17293.0     0.0  251180.0  3959.0   8971.0
경기도     군포시          65  18294.0     2.0  221897.0  4221.0   7925.0
서울특별시   양천구          58  59505.0     4.0  215217.0  8959.0   7686.0
        노원구          53  23466.0    16.0  194273.0  5572.0   6938.0
경기도     용인시 수지구      46  26993.0    18.0  161955.0  5711.0   5784.0
인천광역시   남동구          89  22693.0     5.0  161925.0  3996.0   5783.0
경기도     오산시         108  11982.0     0.0  160835.0  2958.0   5744.0
부산광역시   영도구          63  39053.0    31.0  159407.0  5532.0   5693.0
경기도     남양주시         59  38917.0     1.0  151770.0  6461.0   5420.0
인천광역시   서구           98  31371.0     1.0  150746.0  4363.0   5384.0
전라북도    전주시 완산구      89   9558.0     0.0  145997.0  2575.0   5214.0
서울특별시   중랑구          62  21350.0    11.0  135862.0  4011.0   4852.0
경기도     수원시 영통구      53   8494.0    17.0  134519.0  2441.0   4804.0
서울특별시   강북구          29   8772.0    31.0  129196.0  2821.0   4614.0
강원도     횡성군          43  12142.0     8.0  123967.0  2827.0   4427.0
경기도     고양시 덕양구     124  23801.0     6.0  117878.0  2710.0   4210.0
        안산시 상록구      44  23336.0     1.0  114745.0  4057.0   4098.0
서울특별시   서초구         122  19984.0     7.0  112860.0  2678.0   4031.0
경기도     광주시          46  10785.0     5.0  110494.0  2923.0   3946.0
서울특별시   영등포구         97  28437.0    12.0  103296.0  3634.0   3689.0
인천광역시   계양구          78   8106.0    10.0   94441.0  2207.0   3373.0
광주광역시   광산구         105  19388.0     2.0   93422.0  2782.0   3336.0
서울특별시   금천구          26  13660.0    13.0   85965.0  3455.0   3070.0
부산광역시   사상구          24   7256.0    34.0   77684.0  1844.0   2774.0
경기도     구리시          37  42093.0    11.0   75831.0  7202.0   2708.0
충청북도    진천군          26  16698.0     7.0   71064.0  4445.0   2538.0
경기도     여주시          32   5274.0    11.0   66949.0  2029.0   2391.0
서울특별시   송파구          60   7733.0    14.0   64721.0  1824.0   2311.0
충청남도    천안시 서북구      33   6889.0    17.0   63100.0  2166.0   2254.0
경기도     평택시          46  12342.0     6.0   60380.0  2463.0   2156.0
        의정부시         58   3676.0     5.0   57208.0  1280.0   2043.0
전라남도    목포시          36  16212.0     3.0   50073.0  2984.0   1788.0
경기도     용인시 기흥구      41  36024.0     2.0   49439.0  5670.0   1766.0
서울특별시   동대문구         16  21696.0    32.0   45832.0  5802.0   1637.0
경기도     부천시          87   6111.0     6.0   37688.0  1193.0   1346.0
서울특별시   동작구          47   3872.0    27.0   36869.0  1323.0   1317.0
경기도     수원시 권선구      61  10142.0     2.0   36744.0  1934.0   1312.0
인천광역시   연수구          30   5074.0     4.0   34917.0  1514.0   1247.0
충청북도    청주시 흥덕구      21   6377.0     7.0   34692.0  1908.0   1239.0
경기도     연천군           5  22295.0    33.0   30960.0  9507.0   1106.0
서울특별시   강남구          72   3898.0     2.0   26591.0   758.0    950.0
경기도     고양시 일산동구    113   9613.0     3.0   24289.0   990.0    867.0
경상남도    거제시          27   7680.0    17.0   24145.0  1856.0    862.0
경기도     과천시          31   4415.0     5.0   23224.0  1387.0    829.0
서울특별시   구로구          54   3819.0     3.0   22175.0   852.0    792.0
        강서구          39   4479.0    21.0   18783.0  1175.0    671.0
        중구           68   4452.0    12.0   18639.0   622.0    666.0
강원도     홍천군           7   8824.0    11.0   16303.0  3422.0    582.0
서울특별시   성북구          83   2447.0     3.0   13358.0   357.0    477.0
전라북도    전주시 덕진구      97   3224.0     7.0   12404.0   354.0    443.0
서울특별시   종로구          80   2240.0    22.0   10937.0   359.0    391.0
경기도     고양시 일산서구     62   4471.0     4.0   10321.0   566.0    369.0
        의왕시          21   7914.0     4.0    9026.0  1718.0    322.0
        이천시          32   1559.0    14.0    8041.0   378.0    287.0
서울특별시   마포구          70   2318.0     1.0    7770.0   320.0    278.0
강원도     인제군           3   3956.0   739.0    7710.0  1654.0    275.0
대구광역시   달서구           8   6849.0    31.0    7419.0  2394.0    265.0
경기도     가평군           1   7182.0  7182.0    7182.0     NaN    256.0
전라북도    완주군          14   4011.0    34.0    7110.0  1044.0    254.0
충청북도    청주시 청원구      11   5011.0    33.0    5728.0  1490.0    205.0
경기도     양주시          10   2145.0    28.0    5054.0   772.0    180.0
        성남시 중원구      23   3612.0     6.0    4517.0   745.0    161.0
강원도     강릉시          13   1392.0     3.0    4056.0   472.0    145.0
경기도     성남시 수정구      27   2424.0    23.0    3678.0   458.0    131.0
서울특별시   서대문구         41   1266.0     4.0    3562.0   196.0    127.0
        광진구          54    369.0     1.0    3401.0    63.0    121.0
충청북도    음성군           1   3137.0  3137.0    3137.0     NaN    112.0
서울특별시   용산구          68    139.0     0.0    3122.0    29.0    112.0
경기도     성남시 분당구      47    387.0    23.0    3046.0    72.0    109.0
        안양시 동안구      13   1564.0    28.0    2909.0   415.0    104.0
        수원시 팔달구      22   1032.0    19.0    2920.0   226.0    104.0
인천광역시   중구           19   1182.0    16.0    2809.0   275.0    100.0
전라남도    고흥군           3   2552.0    21.0    2665.0  1441.0     95.0
경기도     시흥시          21   1425.0     4.0    2416.0   310.0     86.0
서울특별시   관악구          30    546.0    13.0    2296.0   101.0     82.0
전라북도    군산시           6   1416.0    12.0    2277.0   542.0     81.0
서울특별시   성동구          14   1825.0    15.0    2237.0   480.0     80.0
충청북도    청주시 서원구       5   1618.0    15.0    2049.0   681.0     73.0
경기도     수원시 장안구      20    688.0    24.0    1992.0   147.0     71.0
        용인시 처인구      12    432.0    16.0    1717.0   168.0     61.0
부산광역시   중구           47     79.0    30.0    1691.0     7.0     60.0
경기도     안양시 만안구      12    330.0    35.0    1548.0    98.0     55.0
전라남도    함평군           2   1473.0    21.0    1494.0  1027.0     53.0
충청남도    서산시           5    738.0    19.0    1497.0   377.0     53.0
광주광역시   서구            6   1206.0    28.0    1475.0   471.0     53.0
        동구            1   1446.0  1446.0    1446.0     NaN     52.0
서울특별시   은평구          14    224.0    32.0    1367.0    63.0     49.0
부산광역시   서구           39     65.0    12.0    1318.0    14.0     47.0
전라북도    진안군           2   1111.0    51.0    1162.0   750.0     42.0
강원도     원주시           8    581.0    27.0    1147.0   207.0     41.0
부산광역시   사하구           5    707.0    30.0    1129.0   291.0     40.0
경기도     광명시          19    268.0    18.0    1013.0    57.0     36.0
충청남도    천안시 동남구       9    411.0    25.0     973.0   138.0     35.0
강원도     고성군           1    773.0   773.0     773.0     NaN     28.0
서울특별시   강동구          12     96.0     3.0     521.0    27.0     19.0
강원도     춘천시           4    225.0    18.0     355.0    97.0     13.0
인천광역시   동구            4    195.0    34.0     300.0    80.0     11.0
서울특별시   도봉구           5     79.0    35.0     266.0    22.0     10.0
전라북도    무주군           2    209.0    61.0     270.0   105.0     10.0
인천광역시   미추홀구          8     39.0    18.0     255.0     7.0      9.0
경기도     양평군           7    123.0     2.0     215.0    45.0      8.0
전라남도    화순군           2    173.0    57.0     230.0    82.0      8.0
인천광역시   강화군           2    215.0    23.0     238.0   136.0      8.0
경기도     동두천시          3    128.0    12.0     154.0    66.0      6.0
광주광역시   북구            4     31.0    27.0     117.0     2.0      4.0
대구광역시   서구            3     33.0    32.0      97.0     1.0      3.0
세종특별자치시 세종특별자치시       1     59.0    59.0      59.0     NaN      2.0
경기도     포천시           1     52.0    52.0      52.0     NaN      2.0
        하남시           1     39.0    39.0      39.0     NaN      1.0
전라북도    김제시           2     13.0    11.0      24.0     1.0      1.0
대전광역시   대덕구           1     30.0    30.0      30.0     NaN      1.0
전라북도    순창군           1     32.0    32.0      32.0     NaN      1.0
충청남도    서천군           1     21.0    21.0      21.0     NaN      1.0
전라남도    영암군           1      1.0     1.0       1.0     NaN      0.0

In [60]:
g_r2=round(df_r.groupby('시도')['도달'].agg(['sum']),0)
g_r2.sort_values('sum', ascending=False)

               sum
시도
경기도      3184790.0
서울특별시    1259117.0
인천광역시     736607.0
충청남도      316772.0
부산광역시     241230.0
전라북도      169275.0
강원도       154312.0
충청북도      116669.0
광주광역시      96461.0
전라남도       54462.0
경상남도       24145.0
대구광역시       7516.0
세종특별자치시       59.0
대전광역시         30.0

##2.2 Exposure
### 시도, 시군구 별 각각의 도달의 통계량


*   count -> 몇번 주행하였는지 (시군구별 주행자의 주행 합산 회수)
*   max -> 하루 노출의 최고치
*   min -> 하루 노출의 최소치
*   sum -> 시군구별 합
*   mena -> 각가의 시군구별 1일 평균 도달수

In [62]:
exposure_lat_long_list=[]
exposure_list=[]
exposure_user_Id = []


for uID in campaign_101:
    data_1 = df2.loc[df2['userId'] == uID]
    data_2 = data_1['dataJson'].loc[df2['dataType'] == 'Exposure']
    for key, value in data_2.items():
        dict_values=json.loads(value)
        for key, value in dict_values.items():
            if key != '00000000' and value != 0:
                exposure_user_Id.append(uID)
                exposure_lat_long_list.append(key)
                exposure_list.append(value)
                # print(key, ":", value)

df_e=pd.DataFrame(exposure_user_Id, columns=['주행자'])
df_e['행정동코드'] = exposure_lat_long_list
df_e['노출'] = exposure_list

ex_sd_list = []
ex_skk_list = []
ex_emd_list = []

for i in df_e['행정동코드']:
  for idx, row in doiscode['EMD_CD'].iteritems():
    if i == row[0:8]:
      ex_sd_list.append(doiscode.loc[idx, 'SD_KOR_NM'])
      ex_skk_list.append(doiscode.loc[idx, 'SKK_KOR_NM'])
      ex_emd_list.append(doiscode.loc[idx, 'EMD_KOR_NM'])

df_e['시도']=ex_sd_list
df_e['시군구']=ex_skk_list
df_e['읍면동']=ex_emd_list

In [63]:
g_e1=round(df_e.groupby(['시도','시군구'])['노출'].agg(['count','max','min','sum','std']),0)
g_e1['mean']=round(g_e1['sum'] / 48,0) #48일로 나눔
g_e1.sort_values('mean', ascending=False) # 각각의 시군구별 1일 평균 도달수
# 서울, 부산 상위 5개만 쓰시면 될듯

                  count      max      min       sum      std     mean
시도      시군구
경기도     파주시         251  65451.0      3.0  940541.0   7171.0  19595.0
        김포시         125  33195.0      3.0  798137.0   9402.0  16628.0
        군포시          65  32446.0      2.0  661051.0  11811.0  13772.0
        안성시         142  24890.0      0.0  639666.0   6152.0  13326.0
        화성시         135  84010.0     14.0  612206.0   8992.0  12754.0
        안산시 단원구     106  30093.0     17.0  581191.0   6526.0  12108.0
인천광역시   부평구          90  77887.0     20.0  565515.0  11176.0  11782.0
충청남도    아산시         112  30999.0      0.0  476831.0   7149.0   9934.0
서울특별시   양천구          58  59505.0      4.0  454180.0  12480.0   9462.0
        강북구          29  29337.0     31.0  453745.0   9613.0   9453.0
부산광역시   영도구          63  49779.0     31.0  414721.0  10051.0   8640.0
강원도     횡성군          44  29438.0     17.0  401437.0   8318.0   8363.0
서울특별시   노원구          53  28808.0     27.0  384413.0   8716.0   8009.0
인천광역시   서구           98  40715.0      1.0  383912.0   7634.0   7998.0
서울특별시   중랑구          62  29966.0     11.0  348342.0   8333.0   7257.0
경기도     광주시          57  28474.0      6.0  346181.0   8449.0   7212.0
        용인시 수지구      46  31844.0     18.0  317703.0   8595.0   6619.0
전라북도    전주시 완산구      89  21780.0      0.0  316991.0   5506.0   6604.0
경기도     고양시 덕양구     128  32317.0      6.0  301812.0   5624.0   6288.0
인천광역시   남동구          89  28832.0      5.0  288218.0   6554.0   6005.0
        계양구          78  27002.0     10.0  276925.0   6813.0   5769.0
경기도     오산시         109  26924.0     21.0  270702.0   5318.0   5640.0
서울특별시   서초구         122  20267.0      7.0  269320.0   4880.0   5611.0
경기도     수원시 영통구      53  24775.0     17.0  262886.0   5564.0   5477.0
        안산시 상록구      44  25433.0      1.0  259323.0   7258.0   5403.0
서울특별시   금천구          26  28545.0     13.0  258796.0   9056.0   5392.0
부산광역시   사상구          24  24368.0     34.0  250903.0   6569.0   5227.0
광주광역시   광산구         105  23266.0      2.0  221026.0   4565.0   4605.0
경기도     남양주시         59  39595.0      1.0  217651.0   7195.0   4534.0
서울특별시   영등포구         97  33350.0     12.0  214163.0   4996.0   4462.0
경기도     의정부시         58  12397.0      5.0  190711.0   4324.0   3973.0
서울특별시   송파구          60  13234.0     14.0  172646.0   4561.0   3597.0
경기도     평택시          48  26817.0      6.0  156014.0   5815.0   3250.0
        여주시          32  15830.0     20.0  142770.0   4876.0   2974.0
        부천시          87  20373.0      6.0  121891.0   3992.0   2539.0
충청북도    진천군          30  16698.0      8.0  121175.0   6078.0   2524.0
서울특별시   동작구          47  12881.0     27.0  120037.0   4426.0   2501.0
전라남도    목포시          38  16212.0      3.0  116247.0   4366.0   2422.0
서울특별시   동대문구         16  40201.0     32.0  116185.0  13124.0   2421.0
경기도     구리시          37  42093.0     11.0  115140.0   8064.0   2399.0
충청북도    청주시 흥덕구      21  21422.0      7.0  107045.0   6102.0   2230.0
충청남도    천안시 서북구      34  14802.0     17.0  106154.0   3557.0   2212.0
경기도     수원시 권선구      61  23939.0      2.0   93291.0   4725.0   1944.0
경상남도    거제시          27  26151.0     17.0   75012.0   5921.0   1563.0
인천광역시   연수구          30  16985.0      4.0   71265.0   3459.0   1485.0
서울특별시   구로구          54   9119.0      3.0   67649.0   2570.0   1409.0
경기도     과천시          31  12504.0      5.0   64617.0   4207.0   1346.0
        용인시 기흥구      41  36024.0      2.0   64196.0   5959.0   1337.0
강원도     홍천군           8  30159.0     11.0   58839.0  11150.0   1226.0
경기도     고양시 일산동구    113  15101.0      3.0   57047.0   1695.0   1188.0
        연천군           5  26017.0    336.0   54695.0  12689.0   1139.0
서울특별시   중구           68  14789.0     12.0   54484.0   2021.0   1135.0
        강남구          72   5734.0      2.0   52179.0   1396.0   1087.0
        성북구          83   8131.0      3.0   44227.0   1321.0    921.0
전라북도    전주시 덕진구      97  10782.0      7.0   40556.0   1197.0    845.0
서울특별시   강서구          39   4635.0     21.0   29565.0   1397.0    616.0
        종로구          80   7417.0     22.0   27846.0   1172.0    580.0
경기도     고양시 일산서구     73   4471.0      4.0   27527.0    605.0    573.0
강원도     인제군           3  13699.0   2411.0   26610.0   5818.0    554.0
경기도     이천시          33   5338.0     14.0   24240.0   1163.0    505.0
        양주시          10   7147.0     37.0   18959.0   2530.0    395.0
서울특별시   마포구          71   2712.0      1.0   15085.0    467.0    314.0
전라북도    완주군          14   4011.0     34.0   13155.0   1026.0    274.0
충청북도    청주시 청원구      11   5011.0    259.0   12191.0   1357.0    254.0
전라남도    고흥군           6   9567.0     21.0   11196.0   3779.0    233.0
경기도     의왕시          21   7914.0      4.0   10836.0   1725.0    226.0
인천광역시   중구           20   3917.0     19.0   10780.0    912.0    225.0
충청북도    음성군           1  10556.0  10556.0   10556.0      NaN    220.0
경기도     용인시 처인구      14   1861.0     16.0    9254.0    645.0    193.0
대구광역시   달서구           8   7559.0     31.0    8955.0   2615.0    187.0
서울특별시   광진구          54   1175.0      1.0    8358.0    224.0    174.0
경기도     시흥시          21   5420.0      4.0    8328.0   1190.0    174.0
전라북도    군산시           6   4917.0     15.0    7807.0   1872.0    163.0
경기도     가평군           1   7596.0   7596.0    7596.0      NaN    158.0
        성남시 분당구      47   1317.0     23.0    7602.0    271.0    158.0
강원도     강릉시          13   2766.0      3.0    7324.0    889.0    153.0
경기도     성남시 중원구      23   3612.0      6.0    7267.0    729.0    151.0
충청북도    청주시 서원구       5   5481.0     15.0    6821.0   2323.0    142.0
서울특별시   서대문구         41   1571.0      4.0    6717.0    289.0    140.0
        용산구          68    539.0      0.0    6659.0    112.0    139.0
경기도     수원시 팔달구      22   1348.0     19.0    6214.0    398.0    129.0
        안양시 동안구      13   1682.0     28.0    6192.0    526.0    129.0
서울특별시   관악구          30   1750.0     13.0    6164.0    353.0    128.0
경기도     양평군          12   1540.0    296.0    5992.0    351.0    125.0
전라남도    함평군           2   4986.0    493.0    5478.0   3177.0    114.0
경기도     안양시 만안구      12   1154.0     35.0    5151.0    395.0    107.0
        성남시 수정구      27   2424.0     23.0    4874.0    459.0    102.0
강원도     원주시           9   1869.0     27.0    4867.0    668.0    101.0
경기도     수원시 장안구      20    893.0     24.0    4102.0    232.0     85.0
서울특별시   은평구          14    682.0     32.0    3720.0    227.0     78.0
부산광역시   사하구           5   2377.0     30.0    3562.0   1009.0     74.0
강원도     고성군           1   2914.0   2914.0    2914.0      NaN     61.0
충청남도    천안시 동남구       9   1301.0     25.0    2562.0    463.0     53.0
서울특별시   성동구          14   1825.0     15.0    2472.0    480.0     52.0
경기도     광명시          19    838.0     18.0    2434.0    205.0     51.0
전라북도    무주군           2   1216.0   1159.0    2375.0     41.0     49.0
부산광역시   서구           39    270.0     12.0    2352.0     75.0     49.0
광주광역시   동구            1   2225.0   2225.0    2225.0      NaN     46.0
        서구            6   1288.0     28.0    1945.0    482.0     41.0
강원도     춘천시           4    975.0     18.0    1775.0    499.0     37.0
부산광역시   중구           47     79.0     30.0    1691.0      7.0     35.0
충청남도    서산시           5    738.0     19.0    1497.0    377.0     31.0
전라북도    진안군           2   1111.0    165.0    1277.0    669.0     27.0
전라남도    화순군           3    585.0    325.0    1251.0    146.0     26.0
서울특별시   강동구          12    260.0      3.0     937.0     90.0     20.0
인천광역시   강화군           2    712.0     23.0     735.0    487.0     15.0
        동구            4    568.0     34.0     673.0    267.0     14.0
서울특별시   도봉구           5    224.0     35.0     501.0     89.0     10.0
경기도     동두천시          3    387.0     12.0     414.0    216.0      9.0
인천광역시   미추홀구          8    187.0     18.0     403.0     56.0      8.0
전라북도    김제시           2    324.0     11.0     334.0    221.0      7.0
전라남도    무안군           2    348.0     11.0     359.0    238.0      7.0
        영암군           1    290.0    290.0     290.0      NaN      6.0
경기도     포천시           1    182.0    182.0     182.0      NaN      4.0
세종특별자치시 세종특별자치시       1    162.0    162.0     162.0      NaN      3.0
광주광역시   북구            4     31.0     27.0     117.0      2.0      2.0
대구광역시   서구            3     33.0     32.0      97.0      1.0      2.0
전라북도    순창군           1     32.0     32.0      32.0      NaN      1.0
경기도     하남시           1     39.0     39.0      39.0      NaN      1.0
대전광역시   대덕구           1     30.0     30.0      30.0      NaN      1.0
충청남도    서천군           1     21.0     21.0      21.0      NaN      0.0

In [64]:
g_e2=round(df_e.groupby('시도')['노출'].agg(['sum']),0)
g_e2.sort_values('sum', ascending=False)

               sum
시도
경기도      7426624.0
서울특별시    3118389.0
인천광역시    1598427.0
부산광역시     673229.0
충청남도      587066.0
강원도       503767.0
전라북도      382528.0
충청북도      257787.0
광주광역시     225314.0
전라남도      134820.0
경상남도       75012.0
대구광역시       9053.0
세종특별자치시      162.0
대전광역시         30.0